<%= form_for ([@todo_list, @todo_list.todo_items.build]) do |f| %>
<tr>
<td>
  <%= f.text_field :content, placeholder: "New Todo", class: 'form-control', autofocus:true %>
</td>
<td>
  <%= f.submit :Submit, class: 'btn btn-outline-primary' %>
</td>
</tr>
<% end %>
